html {
  background: #343434;
  overflow: hidden;
}
div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 15vmin;
  margin: 0;
  margin-top: -15vmin;
  text-align: center;
  font-size: 30vmin;
}
#week {
  color: #E8E8E8;
  text-align: center;
	font-family: Arial;
  margin: auto;
	font-weight: bold;
  text-shadow: #4B4E6D 8px 8px 3px,
               #4B4E6D 6px 6px 3px,
               #4B4E6D 4px 4px 3px,
               #4B4E6D 2px 2px 3px;
}
#week::selection {
  background: #8A95A5;
}
#cred::selection {
  background: #4B4E6D;
}
#cred {
  right: 0;
  bottom: 0;
  text-align: right;
  font-family: Arial;
  color: #333333;
}
